@import "tailwindcss";

@theme {
    --font-mixta: mixta-sharp, serif;
    --font-synthese: synthese, sans-serif;
    --font-freight: freight-text-pro, serif;
    /* suggested colors */
    --color-vp-purple: #663399;
    --color-vp-cyan: #ccffff;
    --color-vp-bright-yellow: #ffff66;
    /* modified colors */
    --color-vp-terracotta: #DC9750;
    --color-vp-slate-blue: #4E7799;
    /* Muted governmental blue */
    --color-vp-olive-gold: #998B4E;
    /* Warm olive/mustard */
    --color-vp-clay-brown: #997C4E;
    /* Terracotta/clay */
    --color-vp-cool-gray: #2f3030;
    --color-vp-graphite: #3A4045;
    --color-vp-sage: #5E9999;
    --color-vp-bronze: #C4A366;
    --color-vp-coral: #E17B7B;
    --color-st-black: #0c2440;
    --color-st-yellow: #ffb549;
    --color-st-lightblue: #a7c6ed;
    --color-st-lightblue-accessible: #5790db;
    --color-st-gray: #60739F;
    --color-st-gray-dark: #222939;
    --color-st-callout: #E5E3DD;
    --color-st-callout-text: #0c2340;
}

@layer utilities {
    .blog-image {
        @apply max-w-4xl w-full
    }

    .banner {
        @apply text-lg pl-8 p-5 py-8 bg-st-callout rounded-lg mx-0 m-0 mt-1 md:mx-5;
    }
}

body {
    margin: 0;
    padding: 0;
    color: var(--color-st-black);
}

.grecaptcha-badge {
    visibility: hidden;
}