---
interface Props {
    styleClass?: string;
    background: string;
}

const { background, styleClass } = Astro.props;
---

<div
    class=`mx-auto h-full bg-cover bg-no-repeat  ${styleClass || ''} bg-vp-light-pink shadow-md`
    style={`background-image: url('${background}')`}
>
    <div class="w-full h-full text-vp-black">
        <slot />
    </div>
</div>
