---
interface Props {
    styleClass?: string;
    background: string;
}

const { background, styleClass } = Astro.props;
---

<div
    class=`mx-auto h-full bg-right  bg-no-repeat  ${styleClass || ''} bg-[#FDF6FA] shadow-md`
    style={`background-image: url('${background}')`}
>
    <div class=`w-full h-full text-st-black `>
        <slot />
    </div>
</div>
