---
import SvgLink from './SvgLink.astro';
import '../styles/global.css';

interface LearnMoreLink {
    name: string;
    link: string;
}

const links: LearnMoreLink[] = [
    {
        name: 'Strong Towns',
        link: 'https://strongtowns.org/',
    },
    {
        name: 'Strong Towns Nanaimo',
        link: 'https://www.beautifulnanaimo.ca/',
    },
    {
        name: 'Strong Towns Langley',
        link: 'https://strongtownslangley.org/',
    },
    {
        name: 'Del-POP',
        link: 'https://delpop.ca/',
    },
];

const today = new Date();
---

<footer class="text-center bg-vp-dark-purple text-white pt-8 px-4 pb-20">
    <div
        class="font-raleway flex flex-col md:flex-row justify-between px-4 mb-10 max-w-3xl mx-auto"
    >
        <div class="flex flex-col">
            <span class="font-bold text-xl text-left pb-2"
                >Connect with us</span
            >
            <div class="flex flex-col justify-center gap-4 pl-1 pt-2">
                <SvgLink
                    text="Follow us on Instagram"
                    href="https://www.instagram.com/vanpop.ca"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 50 50"
                        width="32px"
                        height="32px"
                    >
                        <path
                            d="M 16 3 C 8.8324839 3 3 8.8324839 3 16 L 3 34 C 3 41.167516 8.8324839 47 16 47 L 34 47 C 41.167516 47 47 41.167516 47 34 L 47 16 C 47 8.8324839 41.167516 3 34 3 L 16 3 z M 16 5 L 34 5 C 40.086484 5 45 9.9135161 45 16 L 45 34 C 45 40.086484 40.086484 45 34 45 L 16 45 C 9.9135161 45 5 40.086484 5 34 L 5 16 C 5 9.9135161 9.9135161 5 16 5 z M 37 11 A 2 2 0 0 0 35 13 A 2 2 0 0 0 37 15 A 2 2 0 0 0 39 13 A 2 2 0 0 0 37 11 z M 25 14 C 18.936712 14 14 18.936712 14 25 C 14 31.063288 18.936712 36 25 36 C 31.063288 36 36 31.063288 36 25 C 36 18.936712 31.063288 14 25 14 z M 25 16 C 29.982407 16 34 20.017593 34 25 C 34 29.982407 29.982407 34 25 34 C 20.017593 34 16 29.982407 16 25 C 16 20.017593 20.017593 16 25 16 z"
                            fill="#FFF"></path>
                    </svg>
                </SvgLink>
                <SvgLink
                    text="Join our Discord"
                    href="https://discord.com/invite/RXabm7CS46"
                >
                    <svg
                        width="32px"
                        height="32px"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <g>
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path
                                fill="#FFF"
                                fill-rule="nonzero"
                                d="M10.076 11c.6 0 1.086.45 1.075 1 0 .55-.474 1-1.075 1C9.486 13 9 12.55 9 12s.475-1 1.076-1zm3.848 0c.601 0 1.076.45 1.076 1s-.475 1-1.076 1c-.59 0-1.075-.45-1.075-1s.474-1 1.075-1zm4.967-9C20.054 2 21 2.966 21 4.163V23l-2.211-1.995-1.245-1.176-1.317-1.25.546 1.943H5.109C3.946 20.522 3 19.556 3 18.359V4.163C3 2.966 3.946 2 5.109 2H18.89zm-3.97 13.713c2.273-.073 3.148-1.596 3.148-1.596 0-3.381-1.482-6.122-1.482-6.122-1.48-1.133-2.89-1.102-2.89-1.102l-.144.168c1.749.546 2.561 1.334 2.561 1.334a8.263 8.263 0 0 0-3.096-1.008 8.527 8.527 0 0 0-2.077.02c-.062 0-.114.011-.175.021-.36.032-1.235.168-2.335.662-.38.178-.607.305-.607.305s.854-.83 2.705-1.376l-.103-.126s-1.409-.031-2.89 1.103c0 0-1.481 2.74-1.481 6.121 0 0 .864 1.522 3.137 1.596 0 0 .38-.472.69-.871-1.307-.4-1.8-1.24-1.8-1.24s.102.074.287.179c.01.01.02.021.041.031.031.022.062.032.093.053.257.147.514.262.75.357.422.168.926.336 1.513.452a7.06 7.06 0 0 0 2.664.01 6.666 6.666 0 0 0 1.491-.451c.36-.137.761-.337 1.183-.62 0 0-.514.861-1.862 1.25.309.399.68.85.68.85z"
                            ></path>
                        </g>
                    </svg>
                </SvgLink>
            </div>
        </div>

        <div class="flex flex-col mt-4 md:mt-0">
            <span class="font-bold text-xl text-left md:text-right pb-2"
                >Learn more</span
            >
            <div
                class="flex flex-col text-left md:text-right pl-2 md:pr-1 md:pl-0"
            >
                {
                    links.map((link) => (
                        <a
                            href={link.link}
                            class=" text-base pt-2 transition-all duration-300 hover:underline underline-offset-4 decoration-2"
                        >
                            {link.name}
                        </a>
                    ))
                }
            </div>
        </div>
    </div>

    <p class="font-raleway font-light text-base max-w-4xl m-0 mx-auto">
        &copy; {today.getFullYear()} VanPOP. We believe in creating communities which
        work for everyone. Vancouver is situated on the unceded traditional territories
        of the xʷməθkʷəy̓əm (Musqueam), Sḵwx̱wú7mesh (Squamish), and səlilwətaɬ (Tsleil-Waututh)
        Nations.
    </p>
</footer>
