---
import { SITE_TITLE } from '../consts';

interface Props {
    logoSize?: number;
}

const { logoSize } = Astro.props;
---

<header class="flex justify-center m-0 mx-auto p-0 px-4">
    <nav class="grid grid-cols-3 my-4 mb-8 md:my-8 max-w-7xl items-center">
        <h1 class="font-synthese m-0 px-1 text-base col-start-2">
            <a href="/">
                <img
                    src={'/logo/vanpop-simple-pink.png'}
                    alt={SITE_TITLE}
                    width={logoSize || 170}
                />
            </a>
        </h1>
    </nav>
</header>
