---
import ContentWithBackground from './ContentWithBackground.astro'

interface Props {
    title: string
    image: string
}

const { title, image } = Astro.props
---

<ContentWithBackground background={image}>
    <div class="flex justify-center p-10 md:p-16">
        <h2 class="font-raleway font-bold m-0 text-4xl text-white">
            {title}
        </h2>
    </div>
</ContentWithBackground>
