---
interface Props {
    text: string;
    href: string;
    target?: '_blank' | '_parent' | '_top' | '_self';
    hoverColor: 'st-lightblue-accessible';
}

const { text, href, hoverColor, target = '_self' }: Props = Astro.props;

const hoverBorderColor =
    hoverColor === 'st-lightblue-accessible'
        ? 'hover:border-st-lightblue-accessible'
        : null;
const hoverTextColor =
    hoverColor === 'st-lightblue-accessible'
        ? 'hover:text-st-lightblue-accessible'
        : null;
---

<a
    class:list={[
        'flex',
        'font-synthese',
        'items-center',
        'gap-2',
        'p-3',
        'h-12',
        'border',
        'group',
        'border-solid',
        'rounded-xl',
        'border-vp-purple',
        'cursor-pointer',
        'text-vp-purple',
        'hover:text-white',
        // hoverBorderColor,
        // hoverTextColor,
        'hover:border-transparent',
        'hover:bg-vp-purple',
        'transition-all',
        'hover:opacity-95',
        'hover:-translate-y-0.5',
        'ease-in-out',
        'duration-300',
    ]}
    href={href}
    target={target}
>
    {!!Astro.slots.default && Astro.slots.has('default') ? <slot /> : null}
    <span>{text}</span>
</a>
